body {
  /*padding-bottom: 60px;*/
}
.plotly {
  width: 100% !important;
  max-width: 100% !important;
  max-height: 100%;
}
table {
  table-layout: fixed ;
  width: 100%;
  margin-bottom: 40px;
}
td {
  width: 50%;
}
#por-sexos {
  height: 160px;
}
div.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.highlight {
  border: 2px solid #D5EDFA;
  border-radius: 20px;
  margin: 0 5px;
  width: calc(50% - 10px) !important;
}
div.level3 {
  background-color: #e8e7e7;
  margin: 20px 5px 0px 5px;
  padding: 5px 10px;
  color: #008BD0;
  line-height: 2em;
  width: calc(50% - 10px);
}
.column-2 {
  float: left;
  width: 50%;
  padding: 5px;
  display: inline-flex;
  margin: 0;
}
.column-2-ind {
  width: 49%;
  padding: 5px;
  height: 75px;
  display: inline-flex;
  margin: 0;
}
.column-3 {
  float: left;
  width: 33.33%;
  padding: 5px;
  display: inline-flex;
  margin: 10px 0;
}
.column-3-ind {
  width: 32%;
  padding: 5px;
  height: 75px;
  display: inline-flex;
  margin: 0;
}
.column-4 {
  width: 24%;
  padding: 5px;
  height: 75px;
  display: inline-flex;
  margin: 0;
}

.progress-bar-container {
  border-radius: 20px;
  margin: 10px;
  float: left;
  width: calc(100% - 20px);
  display: flex;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  height: 30px;
  opacity: 0.8;
}
.progressbar-legend-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 6px;
}
.progressbar-legend {
  display: flex;
  align-items: center;
}
.progressbar-legend > [class^="progress-bar-"] {
  width: 15px;
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.8;
}
.progressbar-legend > .sp-content {
  margin: 0px 10px;
  text-align: center;
}
.legend-vertical-container {
  margin-top: 15px;
  position: relative;
}
.legend-vertical-container > .progressbar-legend  {
    margin: 5px 20px;
    align-items: initial;
}
.legend-vertical-container > .progressbar-legend > .sp-content {
    text-align: left;
}
.indicator2 {
  display: inline-flex;
  align-items: center;
  height: 75px;
  margin: 0 auto;
}
.indicator2 img {
  max-height: 60px;
}
.indicator2 .value {
    font-size: 28px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
}
.indicator2 .label {
    color: #666;
    font-size: 18px;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}
.indicator2 .label2{
    color: #666;
} 
.indicator2 span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.indicator2 .image {
    height: 60px;
}
.indicator2 .indicator-content {
    text-align: center;
    float: left;
    vertical-align: middle;
    width: calc(100% - 60px);
    padding-left: 10px;
    display: grid;
}

.indicator3 {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
}
.indicator3 img {
  max-height: 50px;
}
.indicator3 .value {
    font-size: 24px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
}
.indicator3 .label {
    color: #666;
    font-size: 13px;
    padding: 0;
    text-align: center;
}
.indicator3 .label2{
    color: #666;
} 
.indicator3 span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.indicator3 .image {
    height: 50px;
}
.indicator3 .indicator-content {
    text-align: center;
    float: left;
    vertical-align: middle;
    width: calc(100% - 50px);
    padding-left: 10px;
    display: grid;
}
.indicator4 {
  /*display: inline-flex;*/
  align-items: center;
  margin: 0 auto;
}
.indicator4 .title {
    font-size: 22px;
    color: #666;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
}
.indicator4 .value {
    font-size: 28px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
}
.indicator4 .label {
    color: #999;
    font-size: 20px;
    padding: 0;
    text-align: center;
    display: block;
}
.indicator4 .indicator-content {
    text-align: center;
    float: left;
    vertical-align: middle;
    width: calc(100% - 50px);
    padding-left: 10px;
    display: grid;
}

.indicator-map {
  border: 2px solid #D5EDFA;
  border-radius: 20px;
  padding: 10px 0px;
  width: 100%;
}
.indicator-map .plotly {
  width: calc(100% + 20px) !important;
  max-width: calc(100% + 20px) !important;
  height: 180px;
  max-height: 180px;
  margin-bottom: 0;
}
.indicator-map img {
  max-height: 130px;
  max-width: 100%;
  object-fit: scale-down;
}
.map-canarias img {
  max-height: 180px;
  margin-top: -25px;
  margin-bottom: -22px;
}    
.indicator-map .value {
    font-size: 32px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    margin-right: 5px;
}
.indicator-map .label {
    color: #666;
    font-size: 18px;
    padding: 0;
    text-align: center;
    margin: 0;
    vertical-align: bottom;
}
.indicator-map .label2 {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin: 0;
} 
.indicator-map .label3 {
    color: #666;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.indicator-map span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.indicator-map .image {
    height: 140px;
    margin: 0 auto;
    display: table;
    width: 100%;
    margin-bottom: -15px;
    overflow: hidden;
}
.indicator-map .indicator-content {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-top: 12px;
}
.indicator-title {
    border: 2px solid #008BD0;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 5px 10px;
    width: calc(50% - 10px) !important;
}
.indicator-title-row {
    border: 2px solid #008BD0;
    border-radius: 15px;
    padding: 5px;
    margin: 20px 5px 10px 0;
    width: 100% !important;
}
.indicator-title h3 {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    color: #666;
}
.indicator-title-row h3 {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    color: #666;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.linechart {
    height: 270px; 
    float: left;
    width: 64%;
}
.linechart-placeholder {
  display: table;
  width: 100%;
  margin-bottom: 15px;
}
#ranking-del-municipio {
    margin-top: -25px;
}
.serie-placeholder {
  font-size: 12px;
  width: 350px;
  margin: 15px 0;
}
#hover-event-placeholder {
  height: 250px;
  display: inline-grid;
	margin-left: 2%;
}
.sp-municipio {
  color: #666;
  font-size: 15px;
  font-weight: 700;
}
.sp-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  margin-top: 8px;
}
.sp-content {
  margin-left: 18px;
}
.serie-placeholder-1 {
  font-size: 14px;
}
.serie-placeholder-1 .sp-municipio {
  font-size: 22px;
}
.legend rect, .legend {
  border-radius: 20px;
}
.linechart .hoverlayer .legend {
display: none;
}
.piramide {
  margin-right: 20px;
  height: 350px;
}
.silueta-municipio img {
  max-height: 200px;
  position: relative;
  top: 50px;
  float: right;
  right: 50px;
  opacity: 0.5;
}
.logo-istac {
  padding-left: 20px;
}
.logo-istac img {
  height: 80px;
}
.logo-fecam {
  position: relative;
  float: right;
  right: 20px;
}
.logo-fecam img {
  height: 60px;
}
.left {
  text-align: left !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.html-widget {
  margin-bottom: 0 !important;
}
hr {
    margin: 0px;
    border: 0;
    border-top: 1px solid #eee;
}
hr.separator {
  border-top: 2px solid #eee;
  margin-top: 3px;
  margin-bottom: 6px;
}
h4, h5 {
    margin: 10px;
    text-align: center;
    color: #666;
}
.piechart {
  float: left;
  width: 46%;
  height: 250px;
  margin: 5px;
}
.tablechart {
  float: right;
  width: 52%;
  padding: 0;
}
.indicator4s {
  align-items: center;
  margin: 0 auto;
}
.indicator4s .title {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
}
.indicator4s .value {
    font-size: 24px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
.indicator4s .label {
    color: #999;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    display: block;
}
.indicator4s .label2 {
    color: #999;
    font-size: 10px;
    padding: -5px;
    margin-top: 0;
    text-align: center;
    display: block;
}
.indicator4s .indicator-content {
    text-align: center;
    float: left;
    vertical-align: middle;
    width: calc(100% - 50px);
    padding-left: 10px;
    display: grid;
}

.highlight h3 {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    color: #666;
}

.column h3 {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    color: #666;
}

.indicator2b {
  display: inline-flex;
  align-items: center;
  height: 75px;
  margin: 0 auto;
}
.indicator2b img {
  max-height: 60px;
  padding-right: 10px;
  padding-left: -20px;
}
.indicator2b .value {
    font-size: 28px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right: -5px;
    text-align: center;
}
.indicator2b .label {
    color: #666;
    font-size: 18px;
    padding: 0;
    text-align: center;
}
.indicator2b .label2{
    color: #666;
} 
.indicator2b span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.indicator2b .image {
    height: 60px;
}
.indicator2b .indicator-content {
    text-align: center;
    float: left;
    vertical-align: middle;
    width: calc(100% - 60px);
    padding-left: 20px;
    display: grid;
}

.indicator-map h3 {
    font-size: 20px;
    margin: 5px;
    text-align: center;
    color: #666;
}
.indicator-map .value2 {
    font-size: 18px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    margin-right: 5px;
}
.indicator-map .value3 {
    font-size: 26px;
    color: #008BD0;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: justify;
    margin-left: 25px;
    padding: 3px 10px;
    vertical-align: top;
}
.indicator-map .label5 {
    color: #666;
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    text-align: justify;
    vertical-align: top;
}

.progressbar-legend > .sp-content-b {
  margin: 2.6px 10px;
  text-align: left;
}

.progress-bar-blue-0 {
  background-color: #005980;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.progress-bar-blue1 {
  background-color: #005980;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-bar-blue2 {
  background-color: #0072A2;
}
.progress-bar-blue3 {
  background-color: #008BD0;
}
.progress-bar-blue4 {
  background-color: #00A6DC;
}
.progress-bar-blue5 {
  background-color: #2CBCE2;
}
.progress-bar-blue6 {
  background-color: #8CD2EA;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.progress-bar-blue7 {
  background-color: #D5EDFA;
}
.progress-bar-grey1 {
  background-color: #59656E;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-bar-grey2 {
  background-color: #77848D;
}
.progress-bar-grey3 {
  background-color: #8C9BA3;
}
.progress-bar-grey4 {
  background-color: #99A9B1;
}
.progress-bar-grey5 {
  background-color: #ABBBC2;
}
.progress-bar-grey6 {
  background-color: #BBC8D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.progress-bar-grey7 {
  background-color: #CED6E7;
}
.progress-bar-C {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #59656E;
}
.progress-bar-C-b {
  padding-left: 6px;
  padding-top: 1px;
  color: #59656E;
  font-weight: 600;
}
.progress-bar-C-a {
  padding-left: 6px;
  margin-top: -7px;
  color: #59656E;
  font-weight: 600;
}
.barras-c {
  height: 310px;
  width: calc(100% - 25px);
}
.barras-r {
  height: 300px;
  width: calc(100% - 25px);
}

.representantes {
  display: inline-flex;
  align-items: center;
}
.representantes img {
  max-height: 40px;
}
.representantes .partido {
  color: #666;
  font-size: 13px;
  padding-top: 5px;
}

.representantes .image {
  padding: 5px;
  height: 50px;
}
.row-repr {
  height: 60px;
}
.column-partido {
  float: left;
  width: 30%;
  padding: 5px;
  height: 50px;
  display: inline-flex;
}
.column-icono {
  float: right;
  width: 69%;
  height: 50px;
  display: inline-flex;
}
.indicator5 {
  display: contents;
  align-items: center;
  height: 75px;
  margin: 0 auto;
}
.indicator5 .value {
  font-size: 28px;
  color: #008BD0;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}
.indicator5 .indicator-content {
  text-align: center;
  float: center;
  vertical-align: middle;
  width: 100%;
  padding: 0 110px;
  margin-top: 12px;
  display: grid;
}
.indicator5 .label {
    color: #666;
    font-size: 13px;
    padding: 0;
    text-align: center;
}