.main-container {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
  margin-top: 10px;
}
.main-container {
  background: #fff;
  padding: 30px;
  position: relative;
}

.main-container,
.main-container::before,
.main-container::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.main-container::before,
.main-container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 99%;
  background-color: #eee;
}

.main-container::before {
  right: 8px;
  top: 0;
  transform: rotate(-1.1deg);
  z-index: -1;
}
.main-container::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}
.logo-fecam, .logo-istac {
  display: none;
}
.params-row {
  border: 1px solid #59656e;
  border-radius: 15px;
  margin: 20px;
  padding: 0 20px;
}
.params-row > div[class^="col-sm-"] {
  margin: auto;
}
.container-fluid {
  padding: 0;
}
.container-fluid.main-container {
  padding: 30px;
}
#fichas {
  padding-left: 15px;
  padding-right: 15px;
}
.params-row {
  font-family: 'Roboto' !important;
}
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}
.add-ficha button, .params-row h3 {
  margin-top: 15px !important;
  margin-bottom: 0;
}
.glosario-row {
  margin-top: 30px;
}
.glosario-row > div[class^="col-sm-"] > div {
  display: table;
  margin: auto;
}
.form-group {
  margin-bottom: 0;
}
.selectize-dropdown .optgroup-header {
  color: #444;
  font-size: 1rem;
}
.selectize-dropdown .option[data-selectable] {
    margin-left: 10px;
}
/*.column-modulo-right img,*/
.column-modulo-right p,
.column-modulo-right span,
.column-modulo-right h1,
.column-modulo-right h2,
.column-modulo-right h3,
.column-modulo-right h4,
.column-modulo-right h5,
.column-modulo-right h6,
.column-modulo-right .image,
.column-modulo-right .column-3 .indicator3,
.column-modulo-right .progressbar-legend-container
{
    transform: scale(0.79);
    transform-origin: left;
}
